@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    background-color: #1A1E1C;
    color: #fff;
    font-family: "M PLUS 1", sans-serif;
}
.font-poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.main-container{
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}
.cricle-gradiant{
    width: 420px;
    height: 420px;
    background-color: #2BB32A; /* Updated background color */
    border-radius: 50%;
    filter: blur(200px);
}
.cricle-gradiant{
    max-width: 420px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    background-color: #2BB32A;
    border-radius: 50%;
    filter: blur(800px);

    /* margin: 100px auto; */
}
